* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 52% 5% 21% 22%;
      grid-template-columns: 52% 5% 21% 22%;
  -ms-grid-rows: 140px 200px 10px 200px;
      grid-template-rows: 140px 200px 10px 200px;
      grid-template-areas: ". . . ." "slider-1 slider-1 article ." ". . article ." "slider-2 buttons article .";
}

@media (max-width: 1366px) {
  .container {
    -ms-grid-columns: 52% 10% 26% 12%;
        grid-template-columns: 52% 10% 26% 12%;
  }
}

@media (max-width: 789px) {
  .container {
    -ms-grid-rows: 140px 180px 5px 180px;
        grid-template-rows: 140px 180px 5px 180px;
  }
}

.slider-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: slider-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-1 img {
  -webkit-transform: translateX(-560px);
          transform: translateX(-560px);
}

@media (max-width: 1907px) {
  .slider-1 img {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
  }
}

@media (max-width: 1862px) {
  .slider-1 img {
    -webkit-transform: translateX(-640px);
            transform: translateX(-640px);
  }
}

@media (max-width: 1770px) {
  .slider-1 img {
    -webkit-transform: translateX(-680px);
            transform: translateX(-680px);
  }
}

@media (max-width: 1700px) {
  .slider-1 img {
    -webkit-transform: translateX(-695px);
            transform: translateX(-695px);
  }
}

@media (max-width: 1669px) {
  .slider-1 img {
    -webkit-transform: translateX(-720px);
            transform: translateX(-720px);
  }
}

@media (max-width: 1626px) {
  .slider-1 img {
    -webkit-transform: translateX(-736px);
            transform: translateX(-736px);
  }
}

@media (max-width: 1599px) {
  .slider-1 img {
    -webkit-transform: translateX(-770px);
            transform: translateX(-770px);
  }
}

@media (max-width: 1541px) {
  .slider-1 img {
    -webkit-transform: translateX(-780px);
            transform: translateX(-780px);
  }
}

@media (max-width: 1523px) {
  .slider-1 img {
    -webkit-transform: translateX(-820px);
            transform: translateX(-820px);
  }
}

@media (max-width: 1453px) {
  .slider-1 img {
    -webkit-transform: translateX(-830px);
            transform: translateX(-830px);
  }
}

@media (max-width: 1434px) {
  .slider-1 img {
    -webkit-transform: translateX(-870px);
            transform: translateX(-870px);
  }
}

@media (max-width: 1366px) {
  .slider-1 img {
    -webkit-transform: translateX(-820px);
            transform: translateX(-820px);
  }
}

@media (max-width: 1339px) {
  .slider-1 img {
    -webkit-transform: translateX(-840px);
            transform: translateX(-840px);
  }
}

@media (max-width: 1305px) {
  .slider-1 img {
    -webkit-transform: translateX(-860px);
            transform: translateX(-860px);
  }
}

@media (max-width: 1273px) {
  .slider-1 img {
    -webkit-transform: translateX(-880px);
            transform: translateX(-880px);
  }
}

@media (max-width: 1241px) {
  .slider-1 img {
    -webkit-transform: translateX(-920px);
            transform: translateX(-920px);
  }
}

@media (max-width: 1179px) {
  .slider-1 img {
    -webkit-transform: translateX(-960px);
            transform: translateX(-960px);
  }
}

@media (max-width: 1110px) {
  .slider-1 img {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
}

@media (max-width: 1050px) {
  .slider-1 img {
    -webkit-transform: translateX(-1050px);
            transform: translateX(-1050px);
  }
}

@media (max-width: 969px) {
  .slider-1 img {
    -webkit-transform: translateX(-1080px);
            transform: translateX(-1080px);
  }
}

@media (max-width: 921px) {
  .slider-1 img {
    -webkit-transform: translateX(-1120px);
            transform: translateX(-1120px);
  }
}

@media (max-width: 853px) {
  .slider-1 img {
    -webkit-transform: translateX(-1160px);
            transform: translateX(-1160px);
  }
}

@media (max-width: 789px) {
  .slider-1 img {
    -webkit-transform: translateX(-1100px);
            transform: translateX(-1100px);
  }
}

@media (max-width: 752px) {
  .slider-1 img {
    -webkit-transform: translateX(-1140px);
            transform: translateX(-1140px);
  }
}

@media (max-width: 686px) {
  .slider-1 img {
    -webkit-transform: translateX(-1180px);
            transform: translateX(-1180px);
  }
}

@media (max-width: 622px) {
  .slider-1 img {
    -webkit-transform: translateX(-1210px);
            transform: translateX(-1210px);
  }
}

@media (max-width: 577px) {
  .slider-1 img {
    -webkit-transform: translateX(-1240px);
            transform: translateX(-1240px);
  }
}

@media (max-width: 526px) {
  .slider-1 img {
    -webkit-transform: translateX(-1280px);
            transform: translateX(-1280px);
  }
}

@media (max-width: 462px) {
  .slider-1 img {
    -webkit-transform: translateX(-1325px);
            transform: translateX(-1325px);
  }
}

@media (max-width: 389px) {
  .slider-1 img {
    -webkit-transform: translateX(-1345px);
            transform: translateX(-1345px);
  }
}

.slider-2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: slider-2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-2 img {
  -webkit-transform: translateX(-650px);
          transform: translateX(-650px);
}

@media (max-width: 1862px) {
  .slider-2 img {
    -webkit-transform: translateX(-690px);
            transform: translateX(-690px);
  }
}

@media (max-width: 1794px) {
  .slider-2 img {
    -webkit-transform: translateX(-730px);
            transform: translateX(-730px);
  }
}

@media (max-width: 1728px) {
  .slider-2 img {
    -webkit-transform: translateX(-770px);
            transform: translateX(-770px);
  }
}

@media (max-width: 1650px) {
  .slider-2 img {
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
}

@media (max-width: 1599px) {
  .slider-2 img {
    -webkit-transform: translateX(-830px);
            transform: translateX(-830px);
  }
}

@media (max-width: 1554px) {
  .slider-2 img {
    -webkit-transform: translateX(-840px);
            transform: translateX(-840px);
  }
}

@media (max-width: 1534px) {
  .slider-2 img {
    -webkit-transform: translateX(-870px);
            transform: translateX(-870px);
  }
}

@media (max-width: 1477px) {
  .slider-2 img {
    -webkit-transform: translateX(-900px);
            transform: translateX(-900px);
  }
}

@media (max-width: 1434px) {
  .slider-2 img {
    -webkit-transform: translateX(-930px);
            transform: translateX(-930px);
  }
}

@media (max-width: 1366px) {
  .slider-2 img {
    -webkit-transform: translateX(-940px);
            transform: translateX(-940px);
  }
}

@media (max-width: 1273px) {
  .slider-2 img {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
}

@media (max-width: 1179px) {
  .slider-2 img {
    -webkit-transform: translateX(-1060px);
            transform: translateX(-1060px);
  }
}

@media (max-width: 1079px) {
  .slider-2 img {
    -webkit-transform: translateX(-1100px);
            transform: translateX(-1100px);
  }
}

@media (max-width: 1019px) {
  .slider-2 img {
    -webkit-transform: translateX(-1120px);
            transform: translateX(-1120px);
  }
}

@media (max-width: 999px) {
  .slider-2 img {
    -webkit-transform: translateX(-1150px);
            transform: translateX(-1150px);
  }
}

@media (max-width: 921px) {
  .slider-2 img {
    -webkit-transform: translateX(-1180px);
            transform: translateX(-1180px);
  }
}

@media (max-width: 864px) {
  .slider-2 img {
    -webkit-transform: translateX(-1220px);
            transform: translateX(-1220px);
  }
}

@media (max-width: 789px) {
  .slider-2 img {
    -webkit-transform: translateX(-1160px);
            transform: translateX(-1160px);
  }
}

@media (max-width: 752px) {
  .slider-2 img {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
}

@media (max-width: 686px) {
  .slider-2 img {
    -webkit-transform: translateX(-1240px);
            transform: translateX(-1240px);
  }
}

@media (max-width: 622px) {
  .slider-2 img {
    -webkit-transform: translateX(-1260px);
            transform: translateX(-1260px);
  }
}

@media (max-width: 577px) {
  .slider-2 img {
    -webkit-transform: translateX(-1300px);
            transform: translateX(-1300px);
  }
}

@media (max-width: 526px) {
  .slider-2 img {
    -webkit-transform: translateX(-1340px);
            transform: translateX(-1340px);
  }
}

@media (max-width: 462px) {
  .slider-2 img {
    -webkit-transform: translateX(-1360px);
            transform: translateX(-1360px);
  }
}

@media (max-width: 389px) {
  .slider-2 img {
    -webkit-transform: translateX(-1380px);
            transform: translateX(-1380px);
  }
}

.slider-img {
  margin: 4px;
  border-radius: 5px;
  height: 200px;
}

@media (max-width: 789px) {
  .slider-img {
    height: 180px;
  }
}

.buttons {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: buttons;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.buttons .but {
  text-decoration: none;
  background-color: white;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  margin: 3px 0 3px 30px;
  border: 1px solid #144c84;
  opacity: 0.3;
}

.buttons .but:hover {
  opacity: 1;
}

.buttons .but:focus {
  outline: 0;
}

.buttons .but:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

@media (max-width: 1794px) {
  .buttons .but {
    margin: 3px 0 3px 20px;
  }
}

@media (max-width: 1599px) {
  .buttons .but {
    margin: 3px 0 3px 10px;
  }
}

@media (max-width: 1366px) {
  .buttons .but {
    margin: 3px 0 3px 59px;
  }
}

@media (max-width: 1179px) {
  .buttons .but {
    margin: 3px 0 3px 40px;
  }
}

@media (max-width: 1019px) {
  .buttons .but {
    margin: 3px 0 3px 20px;
  }
}

@media (max-width: 789px) {
  .buttons .but {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 723px) {
  .buttons .but {
    margin: 3px 0 3px 10px;
  }
}

@media (max-width: 615px) {
  .buttons .but {
    margin: 3px 0 3px 5px;
  }
}

@media (max-width: 577px) {
  .buttons .but {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 462px) {
  .buttons .but {
    width: 30px;
    height: 30px;
  }
}

.article {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: article;
}

.article h2 {
  color: #144c84;
  font-family: sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
}

.article p {
  font-size: 16;
  line-height: 1.6;
  color: #575050;
  width: 80%;
}

@media (max-width: 921px) {
  .article h2 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
}

@media (max-width: 577px) {
  .article h2 {
    font-size: 18px;
  }
  p {
    font-size: 10px;
  }
}

@media (max-width: 462px) {
  .article p {
    width: 100%;
    font-size: 9px;
  }
}
/*# sourceMappingURL=style.css.map */